.previous {
    margin-left: 2rem;
    position: relative;
    left: -50vw;
    top: 3rem;
}

.heading__location {
    color: #9A19BA;
    font-size: 18px;
    margin: 0 2rem;
    max-width: 90vw;
    min-width: 80vw;
    position: relative;
    left: -50vw;
    top: 6rem;
}
